@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url("../img/streetview.jpg");
}
.toptrafficlight{
    margin: auto;
    background-color: black;
    width: 35px;
    height: 160px;
}
.trafficbase{
    margin: auto;
    background-color: black;
    width: 150px;
    height: 400px;
    border-radius: 15px;
    flex-direction: column;
    padding-top: 20px;
}
.redlight{
    background-color: red;
    margin: auto;
    width: 115px;
    height: 120px;
    border-radius: 500px;
}
.yellowlight{
    background-color: orange;
    margin: auto;
    width: 115px;
    height: 120px;
    border-radius: 500px;
}
.greenlight{
    background-color: green;
    margin: auto;
    width: 115px;
    height: 120px;
    border-radius: 500px;
}
